Include/
Lib/
Scripts/
share/
pyvenv.cfg
linux_env/
report/*.aux
report/*.log
report/*.bbl
report/*.fdb_latexmk
report/*.fls
report/*.out
report/*.run.xml
report/*.blg
report/*.synctex.gz
report/*.toc
report/*.lof
report/*.lot
report/*.lol
report/*.listing
report/*.gz
